*{    
    font-family: Georgia, 'Times New Roman', Times, serif;
    outline: none !important;
}

body{
    overflow-x: hidden;
}

#cargando{
    height: 100vh;
}

#spinner{
    position: absolute;
    text-align: center !important;
    height: 100vh !important;
    line-height: 100vh !important;
}

.fclaro{
    background-image: linear-gradient(#3f4579, #1b1833);   
}

.ancho-fclaro{
    padding-right: 0px !important;
    width: 100% !important;
}

.foscuro{
    background-color: #1b1833;
    padding-inline: 80px;
}

/* 
#fondo-nubes{
    background-image: url('./assets/img/Cloud-background.png') !important;
    width: 50%;
} */

#lateral-buscar{    
    display: block;
    width: calc(98vw/3);
    position: absolute;
    left: -120%;
    height: 100vh !important;
    background-color: #1E213A;
    transition: all 1300ms !important;
}


#temphoy{
    font-size: 70px !important;
}

.btn-gris{
    background-color: #5b5d63 !important;
    color: #E7E7EB !important;
    font-size: 11px !important;
    box-shadow: inset 0px 0px 1px rgba(168, 168, 168, 0.4) !important;
}

.btn-gris:hover{
    box-shadow: inset 0px 0px 4px rgba(82, 82, 82, 0.8) !important;
    background-color: #5e6066 !important;

}


.circulo{
    display: block !important;
    width: 35px !important;
    height: 35px !important;
    border-radius: 50% !important;
    padding: 0px !important;
    margin: 0px auto;
}

#ubicacion-actual{
    line-height: 43px;
    
}

.numeros{
    color: #E7E7EB !important;
}

.texto{
    color: #b8b8c5 !important;
}

#img-tiempo{
    width: 60%;
}
#btn-medida{
    font-size: 6px !important;
}

.caja-semana{
    font-size: 11px;
}

.cajas{
    background: linear-gradient(#3f4579, #17192c);
    text-align: center;
    box-shadow: inset 0px 0px 1px rgba(177, 177, 177, 0.2);
    padding: 0px;
}

h3{
    font-size: 14px !important;
    font-weight: bold;
}

@media (max-width: 768px) {
    #lateral-buscar {
      width: 95vw;
    }
  }