*{    
    font-family: Georgia, 'Times New Roman', Times, serif;
    outline: none !important;
}

body{
    overflow-x: hidden;
}

#cargando{
    height: 100vh;
}

#spinner{
    position: absolute;
    text-align: center !important;
    height: 100vh !important;
    line-height: 100vh !important;
}

.fclaro{
    background-color: rgb(212, 212, 212);}

.ancho-fclaro{
    padding-right: 0px !important;
    width: 100% !important;
}

.foscuro{
    background-color: rgb(212, 212, 212);
    padding-inline: 80px;
}

#lateral-izq{
    border-right: 1px solid #adadad;
}

#lateral-buscar{    
    display: block;
    width: calc(97vw/3);
    position: absolute;
    left: -120%;
    height: 100vh !important;
    
    transition: all 1300ms !important;
}


#temphoy{
    font-size: 70px !important;
}

.btn-gris{
    background-color: #c5c4c4 !important;
    color: #3d3d3d !important;
    font-size: 11px !important;
    box-shadow: inset 0px 0px 1px rgba(168, 168, 168, 0.4) !important;
}

.btn-gris:hover{
    box-shadow: inset 0px 0px 1px rgba(151, 151, 151, 1) !important;
    background-color: #cfcdcd !important;

}


.circulo{
    display: block !important;
    width: 35px !important;
    height: 35px !important;
    border-radius: 50% !important;
    padding: 0px !important;
    margin: 0px auto;
}

#ubicacion-actual{
    line-height: 43px;
    
}

.numeros{
    color: #000000 !important;
}

.texto{
    color: #000000 !important;
}

#img-tiempo{
    width: 60%;
}
#btn-medida{
    font-size: 6px !important;
}

.caja-semana{
    font-size: 11px;
}

.cajas{
    background-color: rgb(212, 212, 212);   
    border-right: 1px solid #adadad;
    text-align: center;
    padding: 0px;
}

.cajas:last-child{
    border: none;
}

.highligths:first-child{
    border-bottom: 1px solid #adadad;
}

.highligths:nth-child(2){
    border-right: none;
    border-bottom: 1px solid #adadad;
}

h3{
    font-size: 14px !important;
    font-weight: bold;
}

@media (max-width: 768px) {
    #lateral-buscar {
      width: 95vw;
    }
  }